* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: white;
  background: red;
}

body {
  background: #d8d2d2;
}

html {
  scroll-behavior: smooth;
}

nav {
  /* background: #1b1b1b; */
  position: relative;
  background: #fff;
  z-index: 99;
}

.sticky {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  backdrop-filter: blur(2px);
  width: 100%;
}

nav::after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  padding: 10px;
  margin-left: 60px;
  margin-top: 10px;
}

nav .logo img {
  width: 120px;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 80px;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  /* background: #1b1b1b; */
  margin: 5px 10px;
}

.lg {
  background: #fff;
  transition: 0.3s;
}

.sticky .lg {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  transition: all 0.3s;
}

.ss {
  display: none;
}

.lbj {
  font-size: 16px;
}
nav ul li i {
  margin-left: 5px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
  text-transform: uppercase;
}

.hvr {
  color: black;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.hvr:hover {
  color: maroon;
}

nav ul li a:hover {
  color: maroon;
  /* border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; */
}

nav ul ul li a:hover {
  color: maroon;
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 100px;
  border-top: 3px solid maroon;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-items;
  border-bottom: 1px solid rgba(144, 12, 63, 0.3);
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}
.c {
  padding-top: 6rem;
  background: linear-gradient(to right, #a5d1f1 30%, #256ea4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.c p {
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  text-transform: uppercase;
}
.c h1 span {
  display: block;
}

.show,
.icon,
input {
  display: none;
}

.back-video {
  position: relative;
  z-index: -1;
  width: 100%;
}

.gg {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(to right, red 30%, maroon 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.container {
  padding: 0 70px;
}

/* .igm{
  width:100px;
  border-top-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 10px 10px 5px black;
  margin:10px
} */

.who {
  display: flex;
  margin-top: 50px;
}

.igm {
  margin: 0 10px;
  width: 190px;
  overflow: hidden;
}

.igm:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.box1 {
  height: 100vh;
  width: 100%;
  background-image: url(./asset/alm.JPG);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#abt {
  margin-bottom: 100px;
}

.crd {
  display: flex;
}

.text {
  text-align: center;
  padding-top: 40px;
  font-size: 17px;
}
.card {
  margin-top: 40px;
}
.card p {
  text-align: center;
  padding: 20px 30px;
}
.card p span {
  display: block;
}
.mthr {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mthr1 {
  width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mthr2 {
  width: 107px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.culiner {
  font-size: 70px;
  text-align: center;
  font-weight: 600;
  padding-top: 30px;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px #fff;
  transition: 0.3s;
  color: transparent;
}

.culiner:hover {
  color: white;
}

.wraper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 10px auto;
}

.imgc {
  width: 250px;
  height: 200px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 10px;
  border-radius: 5px;
}

.imgc img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.sponsor {
  background: linear-gradient(to right, red 30%, maroon 100%);
}

.sponsor h1 {
  font-size: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 600;
  padding-top: 30px;
  color: white;
}

.spr {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.spr img {
  width: 100px;
  margin: 10px 10px;
  filter: grayscale(100%);
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

.spr img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.spr img:nth-child(4) {
  margin-top: -5px;
}

.spr img:nth-child(1) {
  width: 90px;
  height: 90px;
}

.spr img:nth-child(2) {
  width: 120px;
}

.spr img:nth-child(3) {
  height: 100%;
  width: 200px;
}

.cpt {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  backdrop-filter: blur(7px);
  text-align: center;
}

.imgc .act1,
.act2,
.act3,
.act4,
.act5,
.act6 {
  left: -500px;
  transition: all 0.5s;
}

.imgc:hover .act1 {
  left: 0;
  transition: all 0.5s;
}

.imgc:hover .act2 {
  left: 0;
  transition: all 0.5s;
}

.imgc:hover .act3 {
  left: 0;
  transition: all 0.5s;
}

.imgc:hover .act4 {
  left: 0;
  transition: all 0.5s;
}

.imgc:hover .act5 {
  left: 0;
  transition: all 0.5s;
}

.imgc:hover .act6 {
  left: 0;
  transition: all 0.5s;
}

.cpt p {
  font-size: 20px;
  color: white;
  font-style: italic;
  margin-top: 30%;
}

.cpt .n {
  padding: 5px 10px;
  border-radius: 5px;
  background: maroon;
  color: white;
  cursor: pointer;
  margin-top: 2px;
}

.cpt .n a {
  text-decoration: none;
  color: white;
}

/* Contact Us  */
#cont h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(to right, red 30%, maroon 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cont h1 span {
  display: block;
}

#contactt {
  justify-content: center;
  align-items: center;
  display: flex;
}
.contact-container {
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 1rem hsla(0 0 0 /16%);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  margin: 3rem 0;
}

.from-container {
  padding: 20px;
}

.from-container h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}

.txt-area {
  padding: 10px;
  border: none;
  outline: none;
  background: maroon;
  padding: 10px;
  font-size: 0.9rem;
  color: white;
  border-radius: 0.4rem;
  resize: none;
  height: 200px;
}

.send-button {
  padding: 10px;
  border: none;
  outline: none;
  background: maroon;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.contact-from input {
  display: block;
  padding: 10px;
  width: 400px;
  border: none;
  outline: none;
  background: maroon;
  padding: 10px;
  font-size: 0.9rem;
  color: white;
  border-radius: 0.4rem;
}
.contact-from {
  display: grid;
  row-gap: 1rem;
}

.contact-from placeholder {
  color: white;
}

/* Fotter */
footer {
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 10px;

  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: maroon;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.footer-bottom p {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: maroon;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: maroon;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* Destination */
/* Bali Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.bli {
  display: flex;
  margin: 50px 0px;
}

.blii {
  margin: 50px 0px;
}

.bli h1 {
  font-size: 30px;
  margin: 10px 0;
}

.bli p {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.blit {
  width: 100%;
}

.bli img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 0;
}

.containero {
  display: flex;
  flex-wrap: wrap;
}

.cardo {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px 10px;
}

/* .cardo:nth-child(1),
.cardo:nth-child(3) {
  margin: 20px 0;
} */

.img-titel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.img-titel h3 span {
  display: block;
  padding-top: 20px;
}

.img-titel h3 {
  text-align: center;
  color: #fff;
  line-height: 2px;
  position: relative;
  font-size: 20px;
  top: 200px;
  font-weight: 500;
}

.cardo img {
  transform: scale(1);
  transition: all 0.3s ease-in;
}

.cardo:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}
@media (max-width: 1300px) {
  .igm {
    width: 500px;
    padding: 0 0px;
    overflow: hidden;
  }
  .hyo {
    margin-top: 10rem;
  }
}

@media (max-width: 600px) {
  .imgc:nth-child(5),
  .imgc:nth-child(6) {
    display: none;
    flex-wrap: none;
  }
  .wraper {
    display: block;
    flex-wrap: none;
    width: 320px;
    margin: 10px auto;
  }
  .wraper .imgc {
    width: 300px;
    height: 250px;
  }
  .hyo {
    margin-top: -1rem;
  }
}

@media all and (min-width: 600px) and (max-width: 968px) {
  .wraper {
    width: 540px;
    margin: 50px auto;
  }
}

@media all and (max-width: 968px) {
  .bli {
    display: block;
  }
  .contact-container {
    margin: 5rem auto;
    width: 90%;
  }

  .contact-container input {
    width: 300px;
  }
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    margin: 0;
    margin-left: 15px;
    margin-top: 5px;
    width: 55%;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul li {
    border-bottom: none;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
    margin-left: 20px;
  }
  .kk a {
    font-size: 16px;
  }
  .show {
    display: block;
    color: black;

    font-size: 18px;
    padding: 1px 20px;
    padding-left: 15px;
    line-height: 70px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .show span {
    color: black;
  }
  .show:hover {
    color: maroon;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 80px;
    font-size: 25px;
    cursor: pointer;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show + a,
  ul {
    display: none;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  .hvr {
    display: none;
  }
  .gg {
    font-size: 25px;
  }
  .ss {
    margin-top: -5px;
  }
  .container {
    padding: 0 20px;
  }
  .igm {
    margin: 20px 0;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .who {
    display: block;
  }

  .igm:nth-child(4),
  .igm:nth-child(5),
  .igm:nth-child(6) {
    display: none;
  }
}

@media (max-width: 850px) {
  .crd {
    display: block;
  }
  .mthr {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mthr1 {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mthr2 {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 705px) {
  .contact-container {
    display: block;
    margin: 3rem 0;
  }
  .contact-container input {
    width: 100%;
  }
  .map {
    width: 100%;
    height: 100%;
  }
  .spr {
    display: block;
  }
  .spr img {
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .spr img:nth-child(2) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  #cont h1 {
    font-size: 25px;
  }
}

@media (min-width: 375px) and (max-width: 400px) {
}

@media (max-width: 522px) {
  .container {
    padding: 0 20px;
  }
  .igm {
    margin: 20px 0;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #cont h1 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .containero {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}
